.product-page {
    &__heading {
        padding: 30px 0;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    // gallery

    &__slider {
        max-width: 744px;
    }

    &__big {
        width: 736px !important;
    }

    &__big-item {
        width: 736px !important;
        margin-bottom: 5px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__thumb-item {
        width: 177px !important;
        height: 195px;

        img {
            width: 177px;
            height: 195px;
            object-fit: cover;
        }
    }

    &__big-image,
    &__thumb-img {
        object-fit: cover;
    }

    // info

    &__info {
        padding: 25px 30px;
        max-width: 806px;
        width: 100%;
        height: fit-content;

        background-color: #fff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }

    &__info-part {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid $gray;
    }

    &__title-box,
    &__heading-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .jq-ry-container {
            padding: 0;
            z-index: 1;
        }
    }

    &__heading-row {
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__heading-title {
        @extend %subtitle;
        margin-right: 30px;
    }

    .btn-addto__comparison,
    .btn-addto__favorites {
        display: inline-block;
    }

    &__availability {
        @extend %mont-500;
        font-size: 16px;
        line-height: 20px;
        color: $green;
    }

    &__availability--not {
        color: $red;
    }

    // signs

    &__signs-item {
        display: flex;
    }

    &__signs-item+.product-page__signs-item {
        margin-top: 20px;
    }

    &__signs-text,
    &__signs-value {
        @extend %mont-500;
        font-size: 18px;
        line-height: 22px;
    }

    &__signs-text {
        margin-right: 30px;
        max-width: 165px;
        width: 100%;

        color: $black;
    }

    &__signs-value {
        color: $gray;
    }


    // options

    &__options {
        margin-bottom: 28px;

        position: relative;
        z-index: 9;
    }

    &__options-item {
        display: flex;
        align-items: center;
    }

    &__options-item+.product-page__options-item {
        margin-top: 20px;
    }

    &__options-name {
        margin-right: 35px;

        @extend %mont-500;
        margin-right: 30px;
        max-width: 177px;
        width: 100%;

        color: $black;
    }

    &__options-select {
        max-width: 534px;
        width: 100%;
    }

    &__options-name {
        @extend %mont-500;
        font-size: 18px;
        line-height: 22px;
        color: $black;
    }


    // purchase

    &__price-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
    }

    &__price {
        @extend %mont-700;
        font-size: 30px;
        line-height: 37px;
        color: $black;
    }

    &__bonus-text {
        display: inline-block;

        @extend %mont-500;
        font-size: 14px;
        line-height: 17px;
        color: $gray;
    }

    .tooltip {
        margin-left: 10px;
    }

    &__purchase-controls {
        display: flex;
        justify-content: space-between;
    }

    &__purchase-btns {
        display: flex;

        .btn+.btn {
            margin-left: 30px;
        }
    }



    // tabs

    &__about {
        padding: 30px;
        margin-bottom: 120px;

        background-color: #FEFEFE;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }

    &__about-tabs {
        margin-bottom: 30px;
        border-bottom: 1px solid $gray;
    }

    &__about-tab+.product-page__about-tab {
        margin-left: 60px;
    }

    &__tab-content {
        display: none;
    }

    &__tab-content--show {
        display: block;
    }


    // text tab content (1st)

    &__about-text {
        margin-bottom: 20px;
        max-width: 1432px;

        @extend %mont-500;
        font-size: 18px;
        color: $black;
        line-height: 27px;

        span {
            @extend %mont-600;
        }
    }

    &__about-text:last-of-type {
        margin-bottom: 0;
    }


    // chars tab content (2nd)

    &__chars-content {
        display: flex;
    }

    &__table-wrapper+.product-page__table-wrapper {
        margin-left: 130px;
        padding-left: 30px;

        border-left: 1px solid $gray;
    }

    &__chars-table {
        border-spacing: 0 10px;
    }

    &__table-heading {
        margin-bottom: 10px;

        @extend %mont-700;
        font-size: 18px;
        color: $black;
    }

    &__table-name {
        display: inline-block;
        margin-right: 60px;
    }


    // reviews tab content (3d)

    &__reviews-wrapper {
        display: block;
    }

    &__reviews-item {
        padding-bottom: 30px;

        margin-bottom: 30px;
        border-bottom: 1px solid $gray;

    }

    &__reviews-box {
        display: flex;
    }

    &__reviews-userpic {
        margin-right: 30px;

        max-width: 80px;
        width: 100%;
        height: fit-content;
        object-fit: cover;
    }

    &__reviews-content {
        max-width: 850px;
    }

    &__reviews-heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        margin-bottom: 10px;
    }

    &__reviews-title {
        @extend %mont-600;
        font-size: 18px;
        line-height: 22px;
        color: $black;
    }

    #reviews-date {
        @extend %mont-500;
        font-size: 14px;
        line-height: 17px;
        color: $gray;
    }

    .rating-stars--reviews {
        padding: 0;
        margin-bottom: 10px;

        z-index: 9;
    }

    &__reviews-text {
        margin-bottom: 30px;

        @extend %mont-500;
        font-size: 18px;
        line-height: 27px;
        color: $black;
    }

    &__reviews-text--empty {
        display: none;

        margin-bottom: 0;
        margin-right: auto;
    }

    &__reviews-text--empty-show {
        display: block;
    }

    &__reviews-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__reviews-addcomment {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }


    // Delivery tab content (4d)

    &__delivery-stepone {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ababab;
    }

    &__options-select--delivery {
        max-width: 300px;
    }

    &__options-name--delivery {
        max-width: 128px;
        width: 100%;
    }

    &__delivery-steptwo {
        display: none;
    }

    &__delivery-steptwo--show {
        display: block;
    }

    &__delivery-item,
    &__delivery-info,
    &__delivery-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__delivery-item:not(:first-child) {
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid $gray;
    }

    &__delivery-name {
        margin-left: 30px;
    }

    &__delivery-price {
        margin-left: 60px;
        @extend %mont-700;
    }

    .jq-selectbox {
        z-index: 9;
    }

}