<div class="article-card">
    <a class="article-card__img-link" href="#">
        <picture class="article__image">
            <source srcset="images/article-image.avif" type="image/avif">
            <source srcset="images/article-image.webp" type="image/webp">
    
            <img src="images/article-image.jpg" alt="article image" loading="lazy">
        </picture>
    </a>
    <div class="article-card__info">
        <a class="article-card__title" href="#">
            Все о ножах: как правильно выбрать
        </a>
        <time class="article-card__date" datetime="2021-10-12">24.07.2019</time>
    </div>
</div>