<div class="catalog-flashlights">
    <div class="container">
        <div class="catalog-flashlights__inner">

            <div class="catalog-flashlights__item  catalog-flashlights__item--technical" href="#">
                <div class="catalog-flashlights__item-content">
                    <h3 class="catalog-flashlights__item-title">Технические фонари</h3>
                    <p class="catalog-flashlights__item-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </p>
                    <a class="btn  catalog-flashlights__btn" href="#">Подробнее</a>
                </div>
            </div> <!-- /.catalog-flashlights__item -->

            <div class="catalog-flashlights__item  catalog-flashlights__item--headware" href="#">
                <div class="catalog-flashlights__item-content">
                    <h3 class="catalog-flashlights__item-title">Налобные фонари</h3>
                    <p class="catalog-flashlights__item-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </p>
                    <a class="btn  catalog-flashlights__btn" href="#">Подробнее</a>
                </div>
            </div> <!-- /.catalog-flashlights__item -->

        </div> <!-- /.catalog-flashlights__inner -->
    </div> <!-- /.container -->
</div> <!-- /.catalog-flashlights -->