<div class="catalog-cards">
    <div class="container">
        <div class="catalog-cards__inner">

            <a class="catalog-cards__item  catalog-cards__item--knives" href="#">
                <h3 class="catalog-cards__item-title">Каталог ножей</h3>
                <ul class="catalog-cards__list">
                    <li class="catalog-cards__bullet">Разделочные</li>
                    <li class="catalog-cards__bullet">Туристические</li>
                    <li class="catalog-cards__bullet">Охотничьи</li>
                </ul>
            </a> <!-- /.catalog-cards__item -->

            <a class="catalog-cards__item  catalog-cards__item--shortblade" href="#">
                <h3 class="catalog-cards__item-title">Среднеклинковое оружие</h3>
                <ul class="catalog-cards__list">
                    <li class="catalog-cards__bullet">Разделочные</li>
                    <li class="catalog-cards__bullet">Туристические</li>
                    <li class="catalog-cards__bullet">Охотничьи</li>
                </ul>
            </a> <!-- /.catalog-cards__item -->

            <a class="catalog-cards__item  catalog-cards__item--longblade" href="#">
                <h3 class="catalog-cards__item-title">Длинноклинковое оружие</h3>
                <ul class="catalog-cards__list">
                    <li class="catalog-cards__bullet">Разделочные</li>
                    <li class="catalog-cards__bullet">Туристические</li>
                    <li class="catalog-cards__bullet">Охотничьи</li>
                </ul>
            </a> <!-- /.catalog-cards__item -->

            <a class="catalog-cards__item  catalog-cards__item--souvenire" href="#">
                <h3 class="catalog-cards__item-title">Сувенирные изделия</h3>
                <ul class="catalog-cards__list">
                    <li class="catalog-cards__bullet">Разделочные</li>
                    <li class="catalog-cards__bullet">Туристические</li>
                    <li class="catalog-cards__bullet">Охотничьи</li>
                </ul>
            </a> <!-- /.catalog-cards__item -->

            <a class="catalog-cards__item  catalog-cards__item--other" href="#">
                <h3 class="catalog-cards__item-title">Сопутствующие товары</h3>
                <ul class="catalog-cards__list">
                    <li class="catalog-cards__bullet">Разделочные</li>
                    <li class="catalog-cards__bullet">Туристические</li>
                    <li class="catalog-cards__bullet">Охотничьи</li>
                </ul>
            </a> <!-- /.catalog-cards__item -->

            <a class="catalog-cards__item  catalog-cards__item--workshop" href="#">
                <h3 class="catalog-cards__item-title">Ножевая мастерская</h3>
                <ul class="catalog-cards__list">
                    <li class="catalog-cards__bullet">Разделочные</li>
                    <li class="catalog-cards__bullet">Туристические</li>
                    <li class="catalog-cards__bullet">Охотничьи</li>
                </ul>
            </a> <!-- /.catalog-cards__item -->

        </div> <!-- /.catalog-cards__inner -->
    </div> <!-- /.container -->
</div> <!-- /.catalog-cards -->