<div class="catalog-section">
    <div class="container">
        <div class="catalog-section__inner">

            <a class="catalog-section__item  catalog-section__item--knives" href="#">
                <div class="catalog-section__item-content">
                    <h3 class="catalog-section__item-title">Каталог ножей</h3>
                    <ul class="catalog-section__list">
                        <li class="catalog-section__bullet">Разделочные</li>
                        <li class="catalog-section__bullet">Туристические</li>
                        <li class="catalog-section__bullet">Охотничьи</li>
                    </ul>
                </div>
            </a> <!-- /.catalog-section__item -->

            <a class="catalog-section__item  catalog-section__item--shortblade" href="#">
                <div class="catalog-section__item-content">
                    <h3 class="catalog-section__item-title">Среднеклинковое оружие</h3>
                    <ul class="catalog-section__list">
                        <li class="catalog-section__bullet">Разделочные</li>
                        <li class="catalog-section__bullet">Туристические</li>
                        <li class="catalog-section__bullet">Охотничьи</li>
                    </ul>
                </div>
            </a> <!-- /.catalog-section__item -->

            <a class="catalog-section__item  catalog-section__item--longblade" href="#">
                <div class="catalog-section__item-content">
                    <h3 class="catalog-section__item-title">Длинноклинковое оружие</h3>
                    <ul class="catalog-section__list">
                        <li class="catalog-section__bullet">Разделочные</li>
                        <li class="catalog-section__bullet">Туристические</li>
                        <li class="catalog-section__bullet">Охотничьи</li>
                    </ul>
                </div>
            </a> <!-- /.catalog-section__item -->

            <a class="catalog-section__item  catalog-section__item--souvenire" href="#">
                <div class="catalog-section__item-content">
                    <h3 class="catalog-section__item-title">Сувенирные изделия</h3>
                    <ul class="catalog-section__list">
                        <li class="catalog-section__bullet">Разделочные</li>
                        <li class="catalog-section__bullet">Туристические</li>
                        <li class="catalog-section__bullet">Охотничьи</li>
                    </ul>
                </div>
            </a> <!-- /.catalog-section__item -->

            <a class="catalog-section__item  catalog-section__item--other" href="#">
                <div class="catalog-section__item-content">
                    <h3 class="catalog-section__item-title">Сопутствующие товары</h3>
                    <ul class="catalog-section__list">
                        <li class="catalog-section__bullet">Разделочные</li>
                        <li class="catalog-section__bullet">Туристические</li>
                        <li class="catalog-section__bullet">Охотничьи</li>
                    </ul>
                </div>
            </a> <!-- /.catalog-section__item -->

            <a class="catalog-section__item  catalog-section__item--workshop" href="#">
                <div class="catalog-section__item-content">
                    <h3 class="catalog-section__item-title">Ножевая мастерская</h3>
                    <ul class="catalog-section__list">
                        <li class="catalog-section__bullet">Разделочные</li>
                        <li class="catalog-section__bullet">Туристические</li>
                        <li class="catalog-section__bullet">Охотничьи</li>
                    </ul>
                </div>
            </a> <!-- /.catalog-section__item -->

        </div> <!-- /.catalog-section__inner -->
    </div> <!-- /.container -->
</div> <!-- /.catalog-section -->