<nav class="footer__nav">
    <div class="container">
        <div class="footer__nav-inner  footer__nav-inner--info">

            <div class="footer__nav-section">
                <h4 class="footer__nav-title">
                    ИНФОРМАЦИЯ
                </h4>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Златоустовские ножи
                            в Москве и Московской
                            <!-- области -->
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Ножевые стали
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            О нас
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Условия оплаты
                            и доставки
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Политика
                            конфиденциальности
                        </a>
                    </li>
                </ul> <!-- /.footer__nav-list -->
            </div> <!-- /.footer__nav-section -->

            <div class="footer__nav-section">
                <h4 class="footer__nav-title">
                    СЛУЖБА ПОДДЕРЖКИ
                </h4>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Контактная информация
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Возврат товара
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Карта сайта
                        </a>
                    </li>
                </ul> <!-- /.footer__nav-list -->
            </div> <!-- /.footer__nav-section -->

            <div class="footer__nav-section">
                <h4 class="footer__nav-title">
                    ДОПОЛНИТЕЛЬНО
                </h4>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Подарочные сертификаты
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Партнеры
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Товары со скидкой
                        </a>
                    </li>
                </ul> <!-- /.footer__nav-list -->
            </div> <!-- /.footer__nav-section -->

            <div class="footer__nav-section">
                <h4 class="footer__nav-title">
                    ЛИЧНЫЙ КАБИНЕТ
                </h4>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Личный кабинет
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            История заказов
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Мои закладки
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">
                            Рассылка новостей
                        </a>
                    </li>
                </ul> <!-- /.footer__nav-list -->
            </div> <!-- /.footer__nav-section -->

        </div> <!-- /.footer__inner -->

        <div class="footer__nav-inner">

            <div class="footer__nav-section  footer__nav-section--contacts">
                <h4 class="footer__nav-title">
                    КОНТАКТЫ
                </h4>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item">
                        <a class="footer__nav-link  footer__nav-link--icon  footer__nav-phone" href="tel:+88007774967">
                            8 (800) 777-49-67
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <p class="footer__nav-text  footer__nav-link--icon  footer__nav-hours">
                            Пн-Пт <br>
                            7:00 - 16:00 (МСК)
                        </p>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link  footer__nav-link--icon  footer__nav-location" href="#">
                            Златоуст,
                            ул. Шоссейная,
                            д. 1, офис «6Б»
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link  footer__nav-link--icon  footer__nav-email"
                            href="mailto:info@zlatmax.ru">
                            info@zlatmax.ru
                        </a>
                    </li>
                </ul> <!-- /.footer__nav-list -->
            </div> <!-- /.footer__nav-section -->

            <div class="footer__nav-section">
                <h4 class="footer__nav-title">
                    ПОЛЕЗНЫЕ ССЫЛКИ
                </h4>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item  footer__nav-item--links">
                        <a class="footer__nav-link" href="#">
                            Способы оплаты и доставки
                        </a>
                    </li>
                </ul> <!-- /.footer__nav-list -->
            </div> <!-- /.footer__nav-section -->

            <div class="footer__nav-section">
                <h4 class="footer__nav-title">
                    НАША ГАРАНТИЯ
                </h4>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item  footer__nav-item--varranty">
                        <p class="footer__nav-text">
                            Недовольны своей покупкой?
                            Вы можете вернуть ее в течении
                            30 дней с даты получения,
                            согласно
                            <a class="footer__nav-link--accent" href="#" target="_blank">
                                нашим правилам
                            </a>
                        </p>
                    </li>
                </ul> <!-- /.footer__nav-list -->
            </div> <!-- /.footer__nav-section -->

            <div class="footer__nav-section">

                <h4 class="footer__nav-title">
                    НОВОСТНАЯ РАССЫЛКА
                </h4>
                <p class="footer__nav-text">
                    Подпишитесь прямо сейчас!
                </p>
                <form class="footer__nav-form" action="/" method="post">
                    <div class="footer__nav-newsletter">
                        <input class="footer__nav-input" type="text" placeholder="example@gmail.com" required>
                        <button class="footer__nav-btn" type="submit"></button>
                    </div>
                    <label class="footer__nav-label">
                        <input class="checkbox" type="checkbox" required>
                        <span class="checkbox-style"></span>
                        <p class="footer__nav-text">
                            Я прочитал
                            <a class="footer__nav-link--accent" href="#" target="_blank">
                                Условия соглашения
                            </a>
                            и согласен с условиями
                        </p>
                    </label>
                </form>

            </div> <!-- /.footer__nav-section -->

        </div> <!-- /.footer__nav-inner -->
    </div> <!-- /.container -->
</nav> <!-- /.footer__nav -->

<div class="footer__social">
    <div class="container">

        <ul class="footer__social-list">
            <li class="footer__social-item">
                <a class="footer__social-link" href="#" target="_blank">
                    <img class="footer__social-icon" src="images/icons/facebook-icon.png" alt="Написать нам в facebook">
                </a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link" href="#" target="_blank">
                    <img class="footer__social-icon" src="images/icons/viber-icon.png" alt="Написать нам в viber">
                </a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link" href="#" target="_blank">
                    <img class="footer__social-icon" src="images/icons/telegram-icon.png" alt="Написать нам в telegram">
                </a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link" href="#" target="_blank">
                    <img class="footer__social-icon" src="images/icons/whatsapp-icon.png" alt="Написать нам в whatsapp">
                </a>
            </li>
        </ul> <!-- /.footer__social-list -->
    </div> <!-- /.container -->
</div> <!-- /.footer__social -->

<div class="footer__copyright">
    <div class="container">
        <div class="footer__copyright-wrapper">
            <p class="footer__copyright-text">
                Все материалы, размещенные на сайте, носят справочный характер и не являются
                публичной офертой, определяемойположениями Статьи 437 Гражданского кодекса Российской Федерации. <br>
                При копировании материалов гиперссылка на www.zlatmax.ru обязательна!
            </p>
            <p class="footer__copyright-text">
                Златоустовские ножи www.zlatmax.ru ©
            </p>
        </div> <!-- /.footer__copyright-wrapper -->
    </div> <!-- /.container -->
</div>