<section class="intro-block" style="background-image: url(images/intro-slider/intro-slider-bg.jpg);">
    <div class="intro-block__bg">
        <span class="intro-block__bg-decor  intro-block__bg-decor--one"></span>
        <span class="intro-block__bg-decor  intro-block__bg-decor--two">
            <span class="intro-block__bg-decor--round"></span>
        </span>
        <span class="intro-block__bg-decor  intro-block__bg-decor--three">
            <span class="intro-block__bg-decor--round"></span>
        </span>
        <span class="intro-block__bg-decor  intro-block__bg-decor--four"></span>
    </div>

    <div class="container">
        <div class="intro-block__inner">
            <div class="intro-block__slider">
                <div class="intro-block__slider-inner">

                    <div class="intro-block__slider-box">
                        <div class="intro-block__slider-item">
                            <div class="intro-block__slider-content">
                                <h1 class="intro-block__title">
                                    Интернет магазин сертифицированных
                                    <span>златоустовских ножей</span>
                                </h1>
                                <p class="intro-block__text">
                                    <span>Добро пожаловать на официальный сайт «ЗЛАТМАКС»!</span>
                                    В нашем магазине
                                    представлен наиболее широкий выбор Златоустовских ножей от Златоустовских
                                    Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
                                </p>
                                <a class="btn intro-block__btn" href="#">Подробнее</a>
                            </div> <!-- /.intro-block__slider-content -->

                            <picture class="intro-block__slider-img">
                                <source srcset="images/intro-slider/intro-slider-img.avif" type="image/avif">
                                <source srcset="images/intro-slider/intro-slider-img.webp" type="image/webp">

                                <img src="images/intro-slider/intro-slider-img.png" alt="intro image" loading="lazy">
                            </picture>

                            <div class="intro-block__img-decor">
                                <div></div>
                            </div>

                        </div> <!-- /.intro-block__slider-item -->
                    </div> <!-- /.intro-block__slider-box -->

                    <div class="intro-block__slider-box">
                        <div class="intro-block__slider-item">
                            <div class="intro-block__slider-content">
                                <h1 class="intro-block__title">
                                    Интернет магазин сертифицированных
                                    <span>златоустовских ножей</span>
                                </h1>
                                <p class="intro-block__text">
                                    <span>Добро пожаловать на официальный сайт «ЗЛАТМАКС»!</span>
                                    В нашем магазине
                                    представлен наиболее широкий выбор Златоустовских ножей от Златоустовских
                                    Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
                                </p>
                                <a class="btn intro-block__btn" href="#">Подробнее</a>
                            </div> <!-- /.intro-block__slider-content -->
                    
                            <picture class="intro-block__slider-img">
                                <source srcset="images/intro-slider/intro-slider-img.avif" type="image/avif">
                                <source srcset="images/intro-slider/intro-slider-img.webp" type="image/webp">
                    
                                <img src="images/intro-slider/intro-slider-img.png" alt="intro image" loading="lazy">
                            </picture>
                    
                            <div class="intro-block__img-decor">
                                <div></div>
                            </div>
                    
                        </div> <!-- /.intro-block__slider-item -->
                    </div> <!-- /.intro-block__slider-box -->

                    <div class="intro-block__slider-box">
                        <div class="intro-block__slider-item">
                            <div class="intro-block__slider-content">
                                <h1 class="intro-block__title">
                                    Интернет магазин сертифицированных
                                    <span>златоустовских ножей</span>
                                </h1>
                                <p class="intro-block__text">
                                    <span>Добро пожаловать на официальный сайт «ЗЛАТМАКС»!</span>
                                    В нашем магазине
                                    представлен наиболее широкий выбор Златоустовских ножей от Златоустовских
                                    Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
                                </p>
                                <a class="btn intro-block__btn" href="#">Подробнее</a>
                            </div> <!-- /.intro-block__slider-content -->
                    
                            <picture class="intro-block__slider-img">
                                <source srcset="images/intro-slider/intro-slider-img.avif" type="image/avif">
                                <source srcset="images/intro-slider/intro-slider-img.webp" type="image/webp">
                    
                                <img src="images/intro-slider/intro-slider-img.png" alt="intro image" loading="lazy">
                            </picture>
                    
                            <div class="intro-block__img-decor">
                                <div></div>
                            </div>
                    
                        </div> <!-- /.intro-block__slider-item -->
                    </div> <!-- /.intro-block__slider-box -->

                    <div class="intro-block__slider-box">
                        <div class="intro-block__slider-item">
                            <div class="intro-block__slider-content">
                                <h1 class="intro-block__title">
                                    Интернет магазин сертифицированных
                                    <span>златоустовских ножей</span>
                                </h1>
                                <p class="intro-block__text">
                                    <span>Добро пожаловать на официальный сайт «ЗЛАТМАКС»!</span>
                                    В нашем магазине
                                    представлен наиболее широкий выбор Златоустовских ножей от Златоустовских
                                    Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
                                </p>
                                <a class="btn intro-block__btn" href="#">Подробнее</a>
                                <div class="slick-counter">
                                    <span class="current-slide"></span>
                                    <span class="total-slide"></span>
                                </div>
                            </div> <!-- /.intro-block__slider-content -->
                    
                            <picture class="intro-block__slider-img">
                                <source srcset="images/intro-slider/intro-slider-img.avif" type="image/avif">
                                <source srcset="images/intro-slider/intro-slider-img.webp" type="image/webp">
                    
                                <img src="images/intro-slider/intro-slider-img.png" alt="intro image" loading="lazy">
                            </picture>
                    
                            <div class="intro-block__img-decor">
                                <div></div>
                            </div>
                    
                        </div> <!-- /.intro-block__slider-item -->
                    </div> <!-- /.intro-block__slider-box -->

                </div> <!-- /.intro-block__slider-inner -->
            </div> <!-- /.intro-block__slider -->

            <div class="intro-block__benefits">
                <div class="intro-block__benefits-item">

                    <img class="intro-block__benefits-img" src="images/icons/benefits-1.svg" alt="benefit image" loading="lazy">
                    <p class="intro-block__benefits-text">
                        Гарантия 100% возврата
                        денежных средств
                    </p>
                </div>

                <div class="intro-block__benefits-item">
                    <img class="intro-block__benefits-img" src="images/icons/benefits-2.svg" alt="benefit image" loading="lazy">
                    <p class="intro-block__benefits-text">
                        Доставка по России,
                        Казахстану и Белоруссии
                    </p>
                </div>

                <div class="intro-block__benefits-item">
                    <img class="intro-block__benefits-img" src="images/icons/benefits-3.svg" alt="benefit image" loading="lazy">
                    <p class="intro-block__benefits-text">
                        Возможность оформление
                        заказа без регистрации.
                    </p>
                </div>

                <div class="intro-block__benefits-item">
                    <img class="intro-block__benefits-img" src="images/icons/benefits-4.svg" alt="benefit image" loading="lazy">
                    <p class="intro-block__benefits-text">
                        Скидки постоянным
                        покупателям.
                    </p>
                </div>
            </div> <!-- /.intro-block__benefits -->


        </div> <!-- /.intro-block__inner -->
    </div> <!-- /.container -->
</section> <!-- /.intro-block -->