<!-- knives menu -->

<nav class="menu-nav  menu-nav--knives">
    <div class="container">
        <div class="menu-nav__wrapper">
            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                            Категория ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                            Производство ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                            Ножи по маркам стали
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                            Заточка и полировка ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                            Ножевая мастерская
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->

            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="header-bottom__menu-item  header-bottom__menu-item--back header-bottom__menu-item--back-category">
                        <a class="header-bottom__menu-link" href="#">
                            Назад
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Разделочные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Туристические ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи охотничьи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булатные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из дамаска
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Тактического назначения
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Метательные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Мачете и кукри
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи кухонные
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 1 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи АИР
                        </a>
                    </li>

                    <li>
                        <a class="menu-nav__link" href="#">
                            Ножи ЗИК
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи ЗЗОСС
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи РОСоружие
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Оружейник
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Сергея Баранова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Андрея Умерова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Златко
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Стиль-М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Оружейная компания
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 2 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 40х102С2М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 95х18
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 100х13м
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 110х18м-ШД
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭИ-107 ТЦ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            БНожи из стали 50х14МФ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали AUS-8
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали К340
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали M390
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭП-766
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 3 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Паста ГОИ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Алмазная паста
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Бруски и камни для заточки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заточные системы
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 4 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножевые клинки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заготовки для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Литье для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Материалы для рукоятей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Уход за рукоятиями ножей
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 5 -->


            </div> <!-- /.menu-nav__items-box -->


            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->
        </div> <!-- /.menu-nav__wrapper -->
    </div> <!-- /.container -->
</nav> <!-- /.menu-nav--knives -->


<!-- blades menu -->

<nav class="menu-nav  menu-nav--blades">
    <div class="container">
        <div class="menu-nav__wrapper">
            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Категория ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Производство ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Ножи по маркам стали
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Заточка и полировка ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Ножевая мастерская
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->

            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="header-bottom__menu-item  header-bottom__menu-item--back header-bottom__menu-item--back-category">
                        <a class="header-bottom__menu-link" href="#">
                            Назад
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Разделочные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Туристические ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи охотничьи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булатные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из дамаска
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Тактического назначения
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Метательные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Мачете и кукри
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи кухонные
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 1 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи АИР
                        </a>
                    </li>

                    <li>
                        <a class="menu-nav__link" href="#">
                            Ножи ЗИК
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи ЗЗОСС
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи РОСоружие
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Оружейник
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Сергея Баранова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Андрея Умерова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Златко
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Стиль-М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Оружейная компания
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 2 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 40х102С2М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 95х18
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 100х13м
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 110х18м-ШД
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭИ-107 ТЦ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            БНожи из стали 50х14МФ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали AUS-8
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали К340
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали M390
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭП-766
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 3 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Паста ГОИ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Алмазная паста
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Бруски и камни для заточки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заточные системы
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 4 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножевые клинки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заготовки для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Литье для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Материалы для рукоятей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Уход за рукоятиями ножей
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 5 -->


            </div> <!-- /.menu-nav__items-box -->


            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->
        </div> <!-- /.menu-nav__wrapper -->
    </div> <!-- /.container -->
</nav> <!-- /.menu-nav--blades -->


<!-- souvenire menu -->

<nav class="menu-nav  menu-nav--souvenires">
    <div class="container">
        <div class="menu-nav__wrapper">
            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Категория ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Производство ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Ножи по маркам стали
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Заточка и полировка ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Ножевая мастерская
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->

            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="header-bottom__menu-item  header-bottom__menu-item--back header-bottom__menu-item--back-category">
                        <a class="header-bottom__menu-link" href="#">
                            Назад
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Разделочные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Туристические ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи охотничьи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булатные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из дамаска
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Тактического назначения
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Метательные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Мачете и кукри
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи кухонные
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 1 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи АИР
                        </a>
                    </li>

                    <li>
                        <a class="menu-nav__link" href="#">
                            Ножи ЗИК
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи ЗЗОСС
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи РОСоружие
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Оружейник
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Сергея Баранова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Андрея Умерова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Златко
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Стиль-М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Оружейная компания
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 2 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 40х102С2М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 95х18
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 100х13м
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 110х18м-ШД
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭИ-107 ТЦ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            БНожи из стали 50х14МФ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали AUS-8
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали К340
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали M390
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭП-766
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 3 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Паста ГОИ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Алмазная паста
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Бруски и камни для заточки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заточные системы
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 4 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножевые клинки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заготовки для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Литье для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Материалы для рукоятей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Уход за рукоятиями ножей
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 5 -->


            </div> <!-- /.menu-nav__items-box -->


            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->
        </div> <!-- /.menu-nav__wrapper -->
    </div> <!-- /.container -->
</nav> <!-- /.menu-nav--souvenire -->


<!-- flashlights menu -->

<nav class="menu-nav  menu-nav--flashlights">
    <div class="container">
        <div class="menu-nav__wrapper">
            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Категория ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Производство ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Ножи по маркам стали
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Заточка и полировка ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Ножевая мастерская
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->

            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="header-bottom__menu-item  header-bottom__menu-item--back">
                        <a class="header-bottom__menu-link" href="#">
                            Назад
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Разделочные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Туристические ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи охотничьи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булатные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из дамаска
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Тактического назначения
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Метательные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Мачете и кукри
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи кухонные
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 1 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи АИР
                        </a>
                    </li>

                    <li>
                        <a class="menu-nav__link" href="#">
                            Ножи ЗИК
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи ЗЗОСС
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи РОСоружие
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Оружейник
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Сергея Баранова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Андрея Умерова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Златко
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Стиль-М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Оружейная компания
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 2 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 40х102С2М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 95х18
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 100х13м
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 110х18м-ШД
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭИ-107 ТЦ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            БНожи из стали 50х14МФ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали AUS-8
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали К340
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали M390
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭП-766
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 3 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Паста ГОИ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Алмазная паста
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Бруски и камни для заточки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заточные системы
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 4 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножевые клинки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заготовки для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Литье для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Материалы для рукоятей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Уход за рукоятиями ножей
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 5 -->


            </div> <!-- /.menu-nav__items-box -->


            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->
        </div> <!-- /.menu-nav__wrapper -->
    </div> <!-- /.container -->
</nav> <!-- /.menu-nav--flashlights -->


<!-- other menu -->

<nav class="menu-nav  menu-nav--other">
    <div class="container">
        <div class="menu-nav__wrapper">
            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Категория ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Производство ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Ножи по маркам стали
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Заточка и полировка ножей
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item-title">
                        Ножевая мастерская
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->

            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="header-bottom__menu-item  header-bottom__menu-item--back header-bottom__menu-item--back-category">
                        <a class="header-bottom__menu-link" href="#">
                            Назад
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Разделочные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Туристические ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи охотничьи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булатные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из дамаска
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Тактического назначения
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Метательные ножи
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Мачете и кукри
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи кухонные
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 1 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи АИР
                        </a>
                    </li>

                    <li>
                        <a class="menu-nav__link" href="#">
                            Ножи ЗИК
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи ЗЗОСС
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи РОСоружие
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Оружейник
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Сергея Баранова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Булат Андрея Умерова
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Златко
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи Стиль-М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Оружейная компания
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 2 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 40х102С2М
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 95х18
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 100х13м
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали 110х18м-ШД
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭИ-107 ТЦ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            БНожи из стали 50х14МФ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали AUS-8
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали К340
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали M390
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножи из стали ЭП-766
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 3 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Паста ГОИ
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Алмазная паста
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Бруски и камни для заточки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заточные системы
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 4 -->

                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Ножевые клинки
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Заготовки для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Литье для ножей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Материалы для рукоятей
                        </a>
                    </li>

                    <li class="menu-nav__item">
                        <a class="menu-nav__link" href="#">
                            Уход за рукоятиями ножей
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list 5 -->


            </div> <!-- /.menu-nav__items-box -->


            <div class="menu-nav__items-box">
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
                <ul class="menu-nav__list">
                    <li class="menu-nav__item">
                        <a class="menu-nav__link  menu-nav__link--all" href="#">
                            Смотреть все
                        </a>
                    </li>
                </ul> <!-- /.menu-nav__list -->
            </div> <!-- /.menu-nav__items-box -->
        </div> <!-- /.menu-nav__wrapper -->
    </div> <!-- /.container -->
</nav> <!-- /.menu-nav--other -->