<section class="new-slider">
    <div class="container">
        <div class="new-slider__content">
            <div class="new-slider__info">
                <h2 class="new-slider__title">Хиты продаж</h2>
                <p class="new-slider__text">Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор
                    Златоустовских
                    ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
                </p>
                <a class="section-link  new-slider__section-link" href="#">Больше новинок</a>
            </div> <!-- /.new-slider__content -->

            <div class="new-slider__box">
                <div class="new-slider__inner">
                    <div class="new-slider__slide">
                        <div class="new-slider__slide-content">
                            {{> product-card }}
                        </div>
                    </div>
                    <div class="new-slider__slide">
                        <div class="new-slider__slide-content">
                            {{> product-card }}
                        </div>
                    </div>
                    <div class="new-slider__slide">
                        <div class="new-slider__slide-content">
                            {{> product-card }}
                        </div>
                    </div>
                    <div class="new-slider__slide">
                        <div class="new-slider__slide-content">
                            {{> product-card }}
                        </div>
                    </div>
                    <div class="new-slider__slide">
                        <div class="new-slider__slide-content">
                            {{> product-card }}
                        </div>
                    </div>
                    <div class="new-slider__slide">
                        <div class="new-slider__slide-content">
                            {{> product-card }}
                        </div>
                    </div>
                    <div class="new-slider__slide">
                        <div class="new-slider__slide-content">
                            {{> product-card }}
                        </div>
                    </div>
                    <div class="new-slider__slide">
                        <div class="new-slider__slide-content">
                            {{> product-card }}
                        </div>
                    </div>
                    <div class="new-slider__slide">
                        <div class="new-slider__slide-content">
                            {{> product-card }}
                        </div>
                    </div>
                </div> <!-- /.new-slider__inner -->
            </div> <!-- /.new-slider__box -->
        </div> <!-- /.new-slider__content -->
    </div> <!-- /.container -->
</section>