<div class="product-slider__box">
    <div class="product-slider__inner">
        <div class="product-slider__slide">
            <div class="product-slider__slide-content">
                {{> product-card }}
                {{> product-card }}
                {{> product-card }}
                {{> product-card }}
            </div>
        </div>
        <div class="product-slider__slide">
            <div class="product-slider__slide-content">
                {{> product-card }}
                {{> product-card }}
                {{> product-card }}
                {{> product-card }}
            </div>
        </div>
        <div class="product-slider__slide">
            <div class="product-slider__slide-content">
                {{> product-card }}
                {{> product-card }}
                {{> product-card }}
                {{> product-card }}
            </div>
        </div>
        <div class="product-slider__slide">
            <div class="product-slider__slide-content">
                {{> product-card }}
                {{> product-card }}
                {{> product-card }}
                {{> product-card }}
            </div>
        </div>
</div>