<div class="product-card">
    <a class="product-card__img-link" href="#">
        <img class="product-card__img" src="images/product/product-card.jpg" alt="product name">
    </a>

    <div class="product-card__info">
        <a class="product-card__title" href="#">
            Нож Лиса
        </a>
        <div class="product-card__params">
            <p class="product-card__params-size">95х18</p>
            <p class="product-card__params-material">Орех, Алюминий</p>
        </div>
        <div class="product-card__rating">
            <div class="rating-stars" data-rateyo-rating="5"></div>
            <a class="product-card__reviews-link" href="#">
                <span>12</span>
                отзывов
            </a>
        </div>
        <div class="product-card__price-box">
            <div class="product-card__price">
                2 719 <span class="currency">р.</span>
            </div>

            <div class="product-card__price-btns">
                <a class="product-card__comparison" href="#"></a>
                <a class="product-card__favorites" href="#"></a>
            </div>
        </div>

        <a class="btn  product-card__btn" href="#">
            В корзину

            <svg class="product-card__btn-icon">
                <use xlink:href="images/sprite.svg#cart-icon"></use>
            </svg>
        </a>

    </div> <!-- /.product-card__info -->

</div> <!-- /.product-card -->