<section class="product-slider">
    <div class="container-slider">
        <div class="product-slider__heading">
            <h2 class="product-slider__title">Хиты продаж</h2>
            <a class="product-slider__section-link" href="#">Перейти в каталог</a>
        </div>
        <div class="product-slider__box">
            <div class="product-slider__inner">
                <div class="product-slider__slide">
                    <div class="product-slider__slide-content">
                        {{> product-card }}
                        {{> product-card }}
                        {{> product-card }}
                        {{> product-card }}
                    </div>
                </div>
                <div class="product-slider__slide">
                    <div class="product-slider__slide-content">
                        {{> product-card }}
                        {{> product-card }}
                        {{> product-card }}
                        {{> product-card }}
                    </div>
                </div>
                <div class="product-slider__slide">
                    <div class="product-slider__slide-content">
                        {{> product-card }}
                        {{> product-card }}
                        {{> product-card }}
                        {{> product-card }}
                    </div>
                </div>
                <div class="product-slider__slide">
                    <div class="product-slider__slide-content">
                        {{> product-card }}
                        {{> product-card }}
                        {{> product-card }}
                        {{> product-card }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>