<div class="product-card">
    <a class="product-card__img-link" href="#">
        <picture class="product-card__img">
            <source srcset="images/product/product-card.avif" type="image/avif">
            <source srcset="images/product/product-card.webp" type="image/webp">

            <img src="images/product/product-card.jpg" alt="product name" loading="lazy">
        </picture>
    </a>

    <div class="product-card__info">
        <div class="product-card__info-box">
            <a class="product-card__title-link" href="#">
                <h3 class="product-card__title">
                    Нож Лиса
                </h3>

            </a>
            <div class="product-card__params">
                <p class="product-card__params-size">95х18</p>
                <p class="product-card__params-material">Орех, Алюминий</p>
            </div>
            <div class="product-card__rating">
                <div class="rating-stars" data-rateyo-rating="4"></div>
                <a class="product-card__reviews-link" href="#">
                    <span>12</span>
                    отзывов
                </a>
            </div>
            <div class="product-card__price-box">
                <div class="product-card__price">
                    2 719 <span class="currency">₽</span>
                </div>

                <div class="product-card__price-btns">
                    <btn id="comparison-product" "btn-addto__comparison" href="#"></btn>
                    <btn id="addto-favorites" class="btn-addto__favorites" href="#"></btn>
                </div>
            </div>
        </div> <!-- /.product-card__info-box -->

        <button class="btn  product__btn" type="button">
            В корзину
            <svg class="product__btn-icon">
                <use xlink:href="images/sprite.svg#cart-icon"></use>
            </svg>
        </button>

    </div> <!-- /.product-card__info -->

</div> <!-- /.product-card -->