

<div class="product-slider__box">
        <div class="product-slider__inner">
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
            <div class="product-slider__slide-content">
                {{> product-card }}
            </div>
    </div>