<aside id="shop-filter" class="shop-filter">
    <button class="shop-filter__btn">
        <svg class="shop-filter__btn-icon">
            <use xlink:href="images/sprite.svg#filter-icon"></use>
        </svg>
    </button>
    <div class="shop-filter__box">
            <div class="shop-filter__item  filter-slider  filter-price">

                <div id="price-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Цена</h3>
                </div>

                <div class="shop-filter__controls  shop-filter__controls--slider">
                    <form class="filter-price__form" action="#">
                        <div class="shop-filter__control-fields">
                            <span class="input-unit  input-unit--currency">
                                <input id="price-from" class="shop-filter__field js-input-from" type="text" value="0" />
                            </span>
                            <span class="input-unit  input-unit--currency">
                                <input id="price-to" class="shop-filter__field js-input-to" type="number" value="0" />
                            </span>
                        </div>
                        <input class="filter-price__slider" type="number" value="" />
                    </form>

                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-slider /.filter-price -->


            <div class="shop-filter__item  filter-chars  filter-manufacture">

                <div id="manufacture-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Производитель</h3>
                </div>

                <div class="shop-filter__controls">
                    <form class="filter-chars__list">
                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">АиР</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Булат Сергея Баранова</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Булат Умерова</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">ЗЗОСС</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">ЗИК</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">ЗЛАТКО</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">ЗлатПрофит</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">ЗОК</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">НБК</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">НИКОН</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Оружейник</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">РОСоружие</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">СТИЛЬ-М</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>
                    </form>

                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-chars /.filter-manufacture -->


            <div class="shop-filter__item  filter-chars  filter-steel">

                <div id="steel-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Сталь</h3>
                </div>

                <div class="shop-filter__controls">
                    <form class="filter-chars__list">
                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">100Х13М</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">110Х18М-ШД</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">40Х10С2М (ЭИ-107)</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">50Х14МФ</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">95Х18</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">AUS-8</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">ELMAX</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">RWL-34</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Дамаск</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">К340</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Литой булат</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">М390</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>
                    </form>

                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-chars /.filter-steel -->


            <div class="shop-filter__item  filter-chars  filter-handle">

                <div id="handle-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Рукоять</h3>
                </div>

                <div class="shop-filter__controls">
                    <form class="filter-chars__list">
                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Mercorne</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Березовый кап</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Бубинго</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Граб</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Дуб</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Кап</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Комбинированная</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Каштан</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Квартопрен</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Кожа-Металл</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>
                    </form>

                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-chars /.filter-handle -->


            <div class="shop-filter__item  filter-chars  filter-garda">

                <div id="garda-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Гарда и тыльник</h3>
                </div>

                <div class="shop-filter__controls">
                    <form class="filter-chars__list">
                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Алюминий</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Латунь</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Литой Барс</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Литой Пума</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Литье</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Металлический</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Нержавеющая сталь</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Текстолит</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Комбинированная</span>
                            <span class="filter-chars__label-sum">25</span>
                        </label>
                    </form>

                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-chars /.filter-garda-->


            <div class="shop-filter__item  filter-chars  filter-gilding">

                <div id="gilding-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Золочение</h3>
                </div>

                <div class="shop-filter__controls">
                    <form class="filter-chars__list">
                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Золочение клинка</span>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <span class="filter-chars__label-text">Золочение рисунка на клинке</span>
                        </label>
                    </form>

                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-chars /.filter-gilding -->


            <div class="shop-filter__item  filter-slider  filter-lenght">

                <div id="lenght-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Общая длина, мм</h3>
                </div>

                <div class="shop-filter__controls  shop-filter__controls--slider">
                    <form class="filter-lenght__form" action="#">
                        <div class="shop-filter__control-fields">
                            <span class="input-unit  input-unit--lenght">
                                <input id="lenght-from" class="shop-filter__field js-input-from" type="text"
                                    value="0" />
                            </span>
                            <span class="input-unit  input-unit--lenght">
                                <input id="lenght-to" class="shop-filter__field js-input-to" type="number" value="0" />
                            </span>
                        </div>
                        <input class="filter-lenght__slider" type="number" value="" />
                    </form>

                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-slider /.filter-lenght -->


            <div class="shop-filter__item  filter-slider  filter-bladelenght">

                <div id="bladelenght-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Длина клинка, мм</h3>
                </div>

                <div class="shop-filter__controls  shop-filter__controls--slider">
                    <form class="filter-bladelenght__form" action="#">
                        <div class="shop-filter__control-fields">
                            <span class="input-unit  input-unit--lenght">
                                <input id="bladelenght-from" class="shop-filter__field js-input-from" type="text"
                                    value="0" />
                            </span>
                            <span class="input-unit  input-unit--lenght">
                                <input id="bladelenght-to" class="shop-filter__field js-input-to" type="number"
                                    value="0" />
                            </span>
                        </div>
                        <input class="filter-bladelenght__slider" type="number" value="" />
                    </form>

                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-slider /.filter-bladelenght -->


            <div class="shop-filter__item  filter-slider  filter-width">

                <div id="width-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Ширина клинка, мм</h3>
                </div>

                <div class="shop-filter__controls  shop-filter__controls--slider">
                    <form class="filter-bladewidth__form" action="#">
                        <div class="shop-filter__control-fields">
                            <span class="input-unit  input-unit--lenght">
                                <input id="bladewidth-from" class="shop-filter__field js-input-from" type="text"
                                    value="0" />
                            </span>
                            <span class="input-unit  input-unit--lenght">
                                <input id="bladewidth-to" class="shop-filter__field js-input-to" type="number"
                                    value="0" />
                            </span>
                        </div>
                        <input class="filter-bladewidth__slider" type="number" value="" />
                    </form>

                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-slider /.filter-width -->


            <div class="shop-filter__item  filter-rating">

                <div id="rating-heading" class="shop-filter__heading">
                    <h3 class="shop-filter__title">Рейтинг</h3>
                </div>

                <div class="shop-filter__controls">
                    <form class="filter-chars__list">
                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <div class="filter-chars__label-rating">
                                <div class="filter-chars__rating-group">
                                    <div class="rating-stars--visual-sum" data-rateyo-rating="5"
                                        data-rateyo-num-stars="5">
                                    </div>
                                    <span class="filter-chars__rating-text">5/5</span>
                                </div>
                            </div>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <div class="filter-chars__label-rating">
                                <div class="filter-chars__rating-group">
                                    <div class="rating-stars--visual-sum" data-rateyo-rating="4"
                                        data-rateyo-num-stars="4">
                                    </div>
                                    <span class="filter-chars__rating-text">4/5</span>
                                </div>
                            </div>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <div class="filter-chars__label-rating">
                                <div class="filter-chars__rating-group">
                                    <div class="rating-stars--visual-sum" data-rateyo-rating="3"
                                        data-rateyo-num-stars="3">
                                    </div>
                                    <span class="filter-chars__rating-text">3/5</span>
                                </div>
                            </div>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <div class="filter-chars__label-rating">
                                <div class="filter-chars__rating-group">
                                    <div class="rating-stars--visual-sum" data-rateyo-rating="2"
                                        data-rateyo-num-stars="2">
                                    </div>
                                    <span class="filter-chars__rating-text">2/5</span>
                                </div>
                            </div>
                        </label>

                        <label class="filter-chars__label">
                            <input class="checkbox" type="checkbox">
                            <span class="checkbox-style  checkbox-style--light"></span>
                            <div class="filter-chars__label-rating">
                                <div class="filter-chars__rating-group">
                                    <div class="rating-stars--visual-sum" data-rateyo-rating="1"
                                        data-rateyo-num-stars="1">
                                    </div>
                                    <span class="filter-chars__rating-text">1/5</span>
                                </div>
                            </div>
                        </label>
                    </form>
                </div> <!-- /.shop-filter__controls -->
            </div> <!-- /.shop-filter__item /.filter-rating -->
    </div> <!-- /.shop-filter__box -->
</aside>