.btn {
    display: inline-block;
    padding: 24px 50px;
    height: 50px;
    text-align: center;

    @extend %mont-600;
    color: #fff;
    font-size: 20px;
    line-height: 0;

    background-color: $accent;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
    cursor: pointer;

    transition: all .3s;

    &:hover {
        background-color: $dark-gray;
    }
}

.btn--stroked {
    color: $accent;

    background-color: transparent;
    border: 1px solid $accent;
    box-shadow: none;

    &:hover {
        color: #fff;
        border: 1px solid $dark-gray;
    }
}

.btn--black {
    background-color: #000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

// icon product buttons

.btn-addto__comparison {
    display: block;
    width: 28px;
    height: 25px;

    @extend %bg;
    background-image: url('../images/icons/comparison-icon.svg');
}

.btn-addto__comparison--active {
    background-image: url('../images/icons/comparison-icon--active.svg');
}

.btn-addto__favorites {
    display: block;
    margin-left: 15px;
    width: 28px;
    height: 25px;

    @extend %bg;
    background-image: url('../images/icons/favorites-card.svg');
}

.btn-addto__favorites--active {
    background-image: url('../images/icons/favorites-card--active.svg');
}

.product__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    width: 100%;

    font-size: 18px;
}

.product__btn--page {
    width: 228px;
    padding: 0 20px;
    font-size: 18px;
    height: 50px;
}

.product__btn-icon {
    margin-left: 16px;
    width: 20px;
    height: 20px;

    fill: #fff;
    stroke: #fff;
    stroke-width: 1px;
}

.btn--link {
    padding: 0;

    @extend %mont-600;
    color: $accent;
    font-size: 18px;
    line-height: 0;

    background-color: transparent;
    border: 0;
    cursor: pointer;

    transition: all .3s;

    &:hover {
        color: $black;
    }
}

.tab {
    padding: 0 0 30px 0;
    text-align: center;

    @extend %mont-600;
    color: $dark-gray;
    font-size: 20px;
    line-height: 0;

    background-color: transparent;
    border: 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    transition: all .3s;

    &:hover {
        color: $black;
    }
}

.tab--active {
    color: $black;
    border-bottom: 2px solid $accent;
}

.user-nav__burger-btn {
    display: block;
    margin: 0;
    max-width: 48px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;

    z-index: 9999;
}

/* Media
================ */

@media (max-width: 740px) {
    .tab {
        font-size: 16px;
        padding: 0 0 20px 0;
    }
}