// header phone

.user-nav__callback {
    cursor: pointer;

    .jq-selectbox__select-text {
        @extend %mont-600;
        font-size: 18px;
        color: $black;
    }

    .jq-selectbox__select,
    .jq-selectbox__select .focused {
        height: 32px;
        padding: 0 45px 0 0;
        color: $black;
    }

    .jq-selectbox__dropdown {
        width: 100%;
        margin: 2px 0 0;
        border-radius: 4px;
        background: $black;
        color: #fff;
        top: 25px;
    }

    .jq-selectbox__dropdown ul {
        padding: 0;
    }

    .jq-selectbox li {
        min-height: 18px;
        padding: 5px 10px 6px;
        color: #fff;
    }

    .jq-selectbox li:hover {
        background-color: $accent;
        color: #fff;
    }

    .jq-selectbox li,
    .jq-selectbox li.selected {
        @extend %mont-500;
    }

    .jq-selectbox li.selected {
        background-color: $accent;
    }

    .jq-selectbox__trigger {
        width: 16px;
        height: 10px;

        position: absolute;
        top: 10px;
        right: 10px;
    }

    .jq-selectbox__trigger-arrow {
        width: 16px;
        height: 10px;

        @extend %bg;
        background-image: url('../images/icons/arrow-down.svg');

        transition: all .3s;
    }

    .jq-selectbox__trigger-arrow--active {
        rotate: -180deg;
    }
}


// shop page sort

.shop-sort {
    cursor: pointer;

    .jq-selectbox {
        padding: 10px 10px 0 20px;
        width: 100%;
        border: 1px solid $gray;
        border-radius: 3px;

        z-index: 9;
    }

    .jq-selectbox__select-text {
        @extend %mont-500;
        font-size: 16px;
        line-height: 22px;
        color: $gray;
        width: 100%;
    }

    .jq-selectbox__select,
    .jq-selectbox__select .focused {
        padding: 0 40px 0 0;
        height: 32px;
        color: $black;
    }

    .jq-selectbox__dropdown {
        width: 100%;
        margin: 2px 0 0;
        border-radius: 4px;
        background: $black;
        color: #fff;
        top: 40px;
        left: 0;
    }

    .jq-selectbox__dropdown ul {
        padding: 0;
    }

    .jq-selectbox li {
        min-height: 18px;
        padding: 5px 10px 6px;
        color: #fff;
    }

    .jq-selectbox li:hover {
        background-color: $accent;
        color: #fff;
    }

    .jq-selectbox li,
    .jq-selectbox li.selected {
        @extend %mont-500;
    }

    .jq-selectbox li.selected {
        background-color: $accent;
    }

    .jq-selectbox__trigger {
        width: 12px;
        height: 8px;

        position: absolute;
        top: 9px;
        right: 10px;
    }

    .jq-selectbox__trigger-arrow {
        width: inherit;
        height: inherit;

        @extend %bg;
        background-image: url('../images/icons/arrow-down-gray.svg');

        transition: all .3s;
    }

    .jq-selectbox__trigger-arrow--active {
        rotate: -180deg;
    }
}

// product page options

.product-page__options-select {
    cursor: pointer;

    .jq-selectbox {
        width: 100%;
        border-radius: 3px;
    }

    .jq-selectbox__select-text {
        @extend %mont-500;
        font-size: 14px;
        line-height: 22px;
        color: $gray;
        width: 100%;
    }

    .jq-selectbox__select,
    .jq-selectbox__select .focused {
        padding: 8px 40px 10px 20px;
        height: 40px;
        border: 1px solid $gray;
        border-radius: 3px;
        color: $gray;
    }

    .jq-selectbox__dropdown {
        width: 100%;
        margin: 2px 0 0;
        border-radius: 4px;
        background: #fff;
        color: $black;
        top: 40px;
        left: 0;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }

    .jq-selectbox__dropdown ul {
        padding: 0;
    }

    .jq-selectbox__dropdown li {
        min-height: 18px;
        padding: 8px 40px 10px 20px;
        font-size: 14px;
        color: $black;

    }

    .jq-selectbox__dropdown li:hover {
        background-color: $black;
        color: #fff;
    }

    .jq-selectbox li,
    .jq-selectbox li.selected {
        @extend %mont-500;
    }

    .jq-selectbox li.selected {
        background-color: $black;
    }

    .jq-selectbox__trigger {
        padding: 16px 14px;
        background-color: $black;
        position: absolute;
        top: 0;
        right: 0;
    }

    .jq-selectbox__trigger-arrow {
        width: 12px;
        height: 7px;

        @extend %bg;
        background-image: url('../images/icons/arrow-down.svg');

        transition: all .3s;
    }

    .jq-selectbox__trigger-arrow--active {
        rotate: -180deg;
    }
}


// product page purchase sum

.product-page__purchase-sum {
    position: relative;

    .jq-number__field input {
        width: 151px;
        height: 50px;
        text-align: center;

        @extend %mont-500;
        font-size: 18px;
        line-height: 0;

        background-color: #f8f8f8;
        border: none;
        border-radius: 2px;
    }

    .jq-number {
        position: relative;
    }

    .jq-number__spin {
        width: 50px;
        height: 50px;
        background-color: #000;

        position: absolute;
        top: 0;

        transition: all .2s;

        &:hover {
            background-color: $accent;
        }
    }

    .jq-number__spin.minus,
    .jq-number__spin.plus {
        @extend %bg;
        background-size: auto;
    }

    .jq-number__spin.minus {
        background-image: url('../images/icons/minus-icon.svg');

        left: 0;
    }

    .jq-number__spin.plus {
        background-image: url('../images/icons/plus-icon.svg');

        right: 0;
    }
}

.changed .jq-selectbox__select-text {
    color: #000;
}