.intro-block {
    @extend %bg;
    object-fit: cover;

    overflow: hidden;

    &__bg {
        // width: 100%;
        // height: 100%;
        position: relative;
    }

    &__bg-decor {
        width: 130px;

        position: absolute;
        z-index: 1;

        &:before,
        &:after {
            content: '';
            width: 1px;
            height: 100vh;
            background-color: #fff;
            position: absolute;
            opacity: .3;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

        .intro-block__bg-decor--round {
            position: relative;

            &:before {
                content: '';
                width: 10px;
                height: 10px;
                background-color: #634E23;
                border-radius: 50%;
                box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.66);

                position: absolute;
            }
        }
    }

    &__bg-decor--one {
        left: 7%;
    }

    &__bg-decor--two {
        left: 32%;

        .intro-block__bg-decor--round {
            &:before {
                top: 35px;
                left: -5px;
            }
        }
    }

    &__bg-decor--three {
        right: 32%;

        .intro-block__bg-decor--round {
            &:before {
                top: 432px;
                left: -5px;
            }
        }
    }

    &__bg-decor--four {
        right: 7%;
    }

    /* content
    =======================*/

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0;
    }

    &__slider {
        margin-bottom: 30px;
        z-index: 2;
    }

    &__slider-item {
        display: flex;
        margin-left: 20px;

        position: relative;
    }


    &__slider-content {
        margin-right: 124px;
        max-width: 915px;
    }

    &__title {
        margin-bottom: 30px;

        @extend %mont-700;
        font-size: 36px;
        line-height: 46px;
        color: #fff;
        letter-spacing: .1rem;

        span {
            display: block;
            margin-top: 15px;

            @extend %mont-500;
        }
    }

    &__text {
        margin-bottom: 50px;

        @extend %mont-500;
        color: $gray;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: .1rem;

        span {
            display: block;
            -webkit-text-stroke: 2px #fff;
        }
    }

    &__slider-img {
        width: 448px;
        object-fit: cover;
        z-index: 2;
    }

    &__img-decor {
        width: 318px;
        height: 424px;

        @extend %bg;
        background-image: url('../images/intro-slider/intro-slider-img-decor-1.svg');
        position: absolute;
        top: 40px;
        right: 0;
        z-index: -1;

        &:before,
        &:after {
            content: '';
            width: 30px;
            height: 34px;
            background-image: url('../images/intro-slider/intro-slider-img-decor-2.svg');
            background-repeat: no-repeat;
            background-position: center center;

            position: absolute;
            z-index: 3;
        }

        &:before {
            top: 29px;
            right: 70px;
        }

        &:after {
            top: 340px;
            right: 145px;
        }
    }


    /* benefits
    =======================*/

    &__benefits {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 180px;
    }

    &__benefits-item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__benefits-item+.intro-block__benefits-item {
        margin-left: auto;
    }

    &__benefits-img {
        margin-bottom: 10px;
        height: 77px;
    }

    &__benefits-text {
        @extend %mont-600;
        color: #fff;
        font-size: 18px;
        line-height: 32px;
    }
}



/* Slider
=======================*/

.slick-counter {
    @extend %mont-500;
    color: #fff;
    line-height: 46px;
    letter-spacing: 0.1em;

    position: absolute;
    bottom: 66px;
    left: 190px;
}

span.current {
    @extend %mont-600;
    color: $accent;
    font-size: 24px;
    counter-reset: decimal-counter;

    &:before {
        content: counter(decimal-counter);
    }
}

span.total {
    font-size: 18px;
}


// Media =========================

@media (max-width: 1620px) {
    .intro-block__slider-content {
        margin-right: 40px;
    }

    .intro-block__img-decor {
        right: 0;
    }
}

@media (max-width: 1540px) {
    .intro-block__slider-content {
        margin-right: 0;
        max-width: 845px;
    }

    .intro-block__img-decor {
        height: 334px;
        width: 248px;
        right: 200px;

        &:before {
            top: 6px;
        }

        &:after {
            top: 269px;
            right: 35px;
        }
    }

    .intro-block__slider-img {
        width: 348px;
    }

    .intro-block__inner .slick-dots {
        margin-top: 20px;
    }

    .slick-counter {
        bottom: -50px;
    }

    .intro-block__benefits {
        margin-top: 60px;
    }
}

@media (max-width: 1400px) {
    .intro-block__img-decor {
        right: 70px;
    }

    .intro-block__benefits-img {
        height: 67px;
    }
}

@media (max-width: 1320px) {
    .intro-block__img-decor {
        right: 0;
    }
}

@media (max-width: 1250px) {
    .intro-block__slider-item {
        margin-left: 0;
    }
    .intro-block__slider-content {
        margin-right: 70px;
        max-width: 695px;
    }

    .intro-block__inner .slick-dots {
        margin-top: 40px;
        margin-left: 0;
    }

    .slick-counter {
        bottom: -70px;
    }

    .intro-block__benefits {
        margin-top: 80px;
    }
}

@media (max-width: 1140px) {
    .intro-block__slider-content {
        margin-right: 40px;
        max-width: 635px;
    }
}

@media (max-width: 1024px) {
    .intro-block__slider-content {
        margin-right: 40px;
        max-width: 635px;
    }

    .intro-block__img-decor {
        display: none;
    }

    .intro-block__benefits {
        grid-column-gap: 80px;
    }
}

@media (max-width: 1000px) {
    .intro-block__slider-content {
        margin-right: 70px;
        max-width: 515px;
    }
}

@media (max-width: 830px) {
    .intro-block__bg-decor {

        &:before,
        &:after {
            height: 1340px;
        }
    }

    .intro-block__slider-item {
        flex-direction: column;
        align-items: center;
    }

    .intro-block__slider-content {
        margin-right: 0;
        margin-bottom: 30px;
        max-width: 100%;
    }

    .intro-block__slider-img {
        display: none;
    }

    .intro-block__title {
        font-size: 32px;
    }

    .intro-block__inner .slick-dots {
        margin-top: -63px;
        margin-left: 270px;
    }

    .slick-counter {
        bottom: 33px;
        margin-left: 246px;
    }

    .intro-block__benefits {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        margin-top: 0;
    }

    .intro-block__benefits-img {
        height: 50px;
    }
}

@media (max-width: 560px) {
    .intro-block__bg-decor {

        &:before,
        &:after {
            height: 1600px;
        }
    }

    .intro-block__bg-decor {
        width: 30px;
        position: absolute;
        z-index: 1;
    }

    .intro-block__slider-content {
        margin-bottom: 110px;
    }

    .intro-block__inner .slick-dots {
        margin-top: -60px;
        margin-left: 0px;
    }

    .slick-counter {
        bottom: 30px;
        margin-left: -20px;
    }
}

@media (max-width: 475px) {

    .intro-block__inner {
        padding: 30px 0 45px;
    }

    .intro-block__title {
        font-size: 23px;
        line-height: 36px;
    }

    .intro-block__title span {
        font-size: 18px;
        line-height: 46px;
    }

    .intro-block__benefits {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px 20px;
        align-items: center;
    }

    .intro-block__benefits-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .intro-block__benefits-text {
        max-width: 395px;
    }

    .intro-block__text {
        font-size: 16px;
        line-height: 24px;
    }

    .intro-block__bg-decor {

        &:before,
        &:after {
            height: 1880px;
        }
    }
}