.new-slider {
    padding: 120px 0 170px;
    @extend %bg;
    background-image: url('../images/catalog/new-slider-bg.jpg');

    &__inner {
        margin-left: 40px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 336px;
        margin-right: auto;
    }

    &__title {
        margin-bottom: 30px;

        @extend %title;
        color: #fff;
    }

    &__text {
        margin-bottom: 65px;

        @extend %mont-500;
        color: $gray;
    }

    &__section-link {
        color: $accent;

        &:hover {
            color: #fff;
        }
    }

    &__box {
        max-width: 1185px;
    }

    &__slide-content {
        margin-right: 20px;
    }
}


/* Media
===============*/

@media (max-width: 1600px) {
    .new-slider__box {
        max-width: 930px;
    }

    .new-slider__inner {
        margin-left: 80px;
    }

    .new-slider__info {
        width: 100%;
    }

    .product-slider__heading {
        padding: 0;
    }
}

@media (max-width: 1230px) {
    .new-slider__box {
        max-width: 100%;
    }

    .new-slider__inner {
        margin-left: 0;
    }

    .new-slider__content {
        display: flex;
        flex-direction: column;
    }

    .new-slider__info {
        margin-bottom: 60px;
    }

    .new-slider__text {
        margin-bottom: 15px;
    }
}

@media (max-width: 1010px) {
    .new-slider__slide-content {
        margin-left: 20px;
    }
}


@media (max-width: 560px) {
    .new-slider {
        padding: 90px 0 190px;
    }
}