.product-slider {
    padding-bottom: 150px;

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 40px;
    }

    &__title {
        @extend %title;
        color: $black;
    }

    &__slide-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }
}

.product-slider--promo {
    padding-top: 130px;
}


@media (max-width: 1340px) {
    .product-card__rating {
        flex-direction: column;
        align-items: flex-start;

        .rating-stars {
            margin-bottom: 13px;
        }
    }
}

@media (max-width: 560px) {
    .product-slider__heading {
        margin-bottom: 16px;
    }
}

@media (max-width: 430px) {
    .product-slider__heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 16px;
    }

    .product-slider__title {
        margin-bottom: 5px;
    }
}