// intro block

.intro-block__inner .slick-dots {
    display: flex;
    justify-content: flex-start;
    margin: -90px 0 90px 20px;
    z-index: 5;

    position: absolute;

    li {
        margin-right: 20px;

        button {
            width: 18px;
            height: 2px;
            padding: 0;
            font-size: 0;
            border: none;
            background-color: #fff;
        }

        &.slick-active {
            button {
                margin-left: 10px;
                background-color: $accent;

                position: relative;

                &:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-color: $accent;
                    border-radius: 50%;

                    position: absolute;
                    left: -10px;
                    top: -4px;
                }
            }
        }
    }
}


// product slider

.product-slider__inner .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    z-index: 5;

    position: absolute;
    left: 0;
    right: 0;

    li {
        margin-right: 20px;
        list-style-type: none;

        button {
            width: 18px;
            height: 2px;
            padding: 0;
            font-size: 0;
            border: none;
            background-color: $dark-gray;
        }

        &.slick-active {
            button {
                margin-left: 10px;
                background-color: $accent;

                position: relative;

                &:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-color: $accent;
                    border-radius: 50%;

                    position: absolute;
                    left: -10px;
                    top: -4px;
                }
            }
        }
    }
}